@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using RecruitmentFailWeb.Models.Account;
@model NewUserDetails
@{
    ViewData["Title"] = "Create Account";
}

<div id="contentContainer" class="container">
    @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @id = "createForm" }))
    {
        <div class="row my-2">
            @Html.ValidationSummary(true, null, new {@class="text-danger col-md-8"})
        </div>
        <div class="row my-2">
            @Html.LabelFor(m => m.Email, null, new {@class="control-label col-md-3"})
            <div class="form-group col-md-5">
                @Html.EditorFor(m => m.Email, new {htmlAttributes = new {@class="form-control"}})
                @Html.ValidationMessageFor(m => m.Email, null, new {@class="text-danger"})
            </div>
        </div>
        <div class="row my-2">
            @Html.LabelFor(m => m.Password, null, new {@class="control-label col-md-3"})
            <div class="form-group col-md-5">
                @Html.PasswordFor(m => m.Password, new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.Password, null, new {@class="text-danger"})
            </div>
        </div>
        <div class="row my-2">
            @Html.LabelFor(m => m.PasswordConfirm, null, new {@class="control-label col-md-3"})
            <div class="form-group col-md-5">
                @Html.PasswordFor(m => m.PasswordConfirm, new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.PasswordConfirm, null, new {@class="text-danger"})
            </div>
        </div>

        <div class="row my-4">
            <div class="col-md-8 text-end">
                <button type="submit" value="Register" class="btn btn-primary" >Register</button>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script>

        // custom validation
        $.validator.addMethod('cognitopassword', RecruitmentFailValidation.validateCognitoPassword);
        $.validator.unobtrusive.adapters.add(
            'cognitopassword',
            ['minlength', 'maxlength', 'requiredchars'],
            function (options) {
                options.rules['cognitopassword'] = [
                    parseInt(options.params['minlength']),
                    parseInt(options.params['maxlength']),
                    parseInt(options.params['requiredchars'])
                ];

                options.messages['cognitopassword'] = 'Password does not meet requirements.';
            }
        );

        $.validator.addMethod('confirm', RecruitmentFailValidation.validateConfirm);
        $.validator.unobtrusive.adapters.add(
            'confirm',
            ['matchingfieldname'],
            function (options) {
                let matchingFieldName = options.params['matchingfieldname'];
                let context = options.form;

                options.rules['confirm'] = [context, matchingFieldName];
                options.messages['confirm'] = 'Passwords must match.';
            }
        );

    </script>
}
